{
    "auth_service": "google",
    "username": "example@gmail.com",
    "password": "password11!!",
    "location": "New York",
    "twitter": {
      "consumer_key": "",
      "consumer_secret": "",
      "access_token": "",
      "access_token_secret": ""
    }
}
